@import '../../../../scss/index.scss';
.userInfo{
  @include flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: 2px;
  height: 200px;
  // background: linear-gradient(180deg, #6bcaf0, $white);
  padding: 0 28px;
  margin-bottom: 100px;

  .userInfoLeft{
    @include flex;
    align-items: center;
    justify-content: space-between;
  }
  .userAvatar{
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
  .userInfoNameWrap{
    max-width: calc(100vw - 160px);
    font-family: Avenir-Heavy;
    
    margin-left: 24px;
    .userInfoName{
      @include textHide(1);
      font-size: 38px;
      color: $black;
      letter-spacing: 0.35px;
    }
  }
  .phone-wrap{
    margin-top: 12px;
    color: $black65;
    font-size: $font-sm;
  }
  .getUserInfoBtn{
    font-size: 38px;
    color: $black;
    letter-spacing: 0.35px;
    border: 0;
  }
  .phoneButton{
    border: none;
    background-color: transparent;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
  
}