@import '../../scss/index.scss';

.LogisticsWrap {
  height: 100vh;
  padding: 20px 0;
  overflow: auto;
  .logisticsInfo{
    margin: 32px;
  
    .at-timeline .at-icon{
      font-size: $font-sm;
      color: #ddd;
      background-color: #ddd;
      border-radius: 50%;
    }
    .at-timeline-item__tail{
      left: 12px;
    }
    .at-timeline-item__content{
      margin-left: 48px;
    }
    .at-timeline-item:nth-of-type(1) {
      .at-icon{
        color: $primary;
        background-color: $primary;
      }
    }
  }
}