@import '../../../scss/index.scss';
.CircleView{
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: 2px solid #eee;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  &.active{
    border-color: $primary;
    background-color: $primary;
  }
}
.ProductList{
  @include shadow;
  border-radius: 16px;
  margin: 26px;

  .OperatonWrap{
    @include flex(space-between, center);
    height: 84px;
    padding: 0 24px;
    font-size: $font-md;
    color: $black85;
  }
  .EditBtn{
    font-size: $font-sm;
    color: $black45;
  }
}

.ProductCard{
  @include flex(space-between, center);
  padding: 0 24px;
  border-top: 1px solid #eee;
  height: 164px;

  .ProductCardRgiht{
    flex: 1;
    @include flex(flex-start, center);
  }
  .ProductImg{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-color: #eee;
  }
  .ProductInfoWrap{
    margin-left: 14px;
    flex: 1;
  }
  .ProductName{
    @include textHide(2);
    font-size: $font-sm;
    color: $black65;
    max-width: 450px;
    line-height: 32px;
    min-height: 64px;
    max-height: 64px;
  }

  .ProductSkuInfo{
    @include flex(space-between, center);
    margin-top: 8px;
    font-size: $font-xs;
    color: $black65;
  }
  .ProductPrice{
    font-size: $font-sm;
    color: $black;
  }
}

.ShoppingCardFooter{
  @include shadow;
  @include flex(flex-end, center);
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 120px;
  box-sizing: border-box;
  padding: 0 32px;

  .button{
    width: 240px;
    line-height: 80px;
    text-align: center;
    background-color: $primary;
    color: $white;
    font-size: $font-md;
    border-radius: 40px;
    &.disabled{
      background-color: rgba(0,183,153,0.50);
    }
    &.del{
      background-color: $red;
    }
  }
  .PriceWrap{
    font-size: $font-md;
    color: $black;
    margin-right: 20px;
    font-weight: 700;
  }
  .Currency{
    font-size: $font-xs;
    font-weight: 400;
  }
}

// tab
.CustomTab{
  @include shadow;
  .TabHead{
    @include flex(space-around, center);
    height: 84px;
    border-radius: 12px;
    overflow: hidden;
  }
  .HeadItem{
    height: 84px;
    line-height: 84px;
    &.active{
      color: $primary;
      position: relative;
      &::before{
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 48px;
        height: 4px;
        transform: translateX(-50%);
        background-color: $primary;
      }
    }
  }
}