.found{
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  .FoundList{
    overflow: hidden;
    padding: 12px;
    padding-bottom: 150px;
    .FoundCard{
      float: left;
      &:nth-child(even) {
        margin-left: 4px;
      }
    }
  }
}