@import '../../../scss/index.scss';
.my-center{
  min-height: calc(100vh - 116px);
  overflow: auto;
  .custom-navbar-wrap{
    background-color: #6bcaf0;
    border-color: #6bcaf0
  }

  .myCalendarBar{
    @include flex;
    height: 120px;
    padding: 0 26px 26px;
    background-color: $white;
    font-family: PingFangSC-Medium;
    font-size: 28px;
    color: $black;
    letter-spacing: 0;

    .calendarCard{
      // background-image: linear-gradient(180deg, rgba(0,183,153,0.20) 0%, rgba(255,255,255,0.00) 100%);
      @include shadow;
      border-radius: 16px;
      @include flex;
      padding: 0 26px;
      align-items: center;
      flex: 1;
      height: 100%;
    }
    .cardIcon{
      color: $primary;
    }
  }


  .serveInfo{
    @include shadow;
    background-color: $white;
    border-radius: 16px;
    margin: 0 32px 20px;
    .MainItemWrap{
      border: none;
      height: 96px;
    }
    .OpenContact{
      position: absolute;
      z-index: 10;
      width: calc(100vw - 364px);
      opacity: 0;
      margin-left: 300px;
      height: 96px;
    }
  }
}