@import '../../../scss/index.scss';
.CalendarHeader{
  width: 100vw;
  height: 320px;
  background-image: linear-gradient(180deg, #00B799 0%, #FFFFFF 81%);
  color: $white;
  padding: 24px;
  box-sizing: border-box;
  .DateStr{
    margin: 40px 0 0 24px;
    font-size: 48px;
    color: $white;
  }
}
.CalendarComponent{
  margin: 0 24px;
  border-radius: 16px;
  height: 640px;
  background-color: $white;
  transform: translateY(-160px);
  .BgCount{
    position: absolute;
    width: calc(100vw - 48px);
    line-height: 640px;
    text-align: center;
    font-size: 400px;
    opacity: 0.1;
    font-family: PingFangSC-Medium;
    color: $primary;
    letter-spacing: -3.53px;
  }

  .at-calendar{
    position: relative;
    overflow: inherit;
    z-index: 1;
    .at-calendar__controller{
      justify-content: flex-start;
      transform: translateY(-100px);
      color: $white;
      opacity: 0;
      
      .controller__info{
        font-size: 48px;
      }
    }
    .flex__item--marks{
      &::after{
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $primary;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
      }
    }
    .flex__item--selected{
      &::after{
        background-color: $white;
      }
    }
    .main__body{
      width: 300%;
      height: 12rem;
    }
    swiper-item{
      flex: 1;
      width: calc(100%/3) !important;
    }
  }
}