@import '../../../scss/index.scss';
.CalendarHeader{
  width: 100vw;
  height: 320px;
  background-image: linear-gradient(180deg, #00B799 0%, #FFFFFF 81%);
  color: $white;
  padding: 24px;
  box-sizing: border-box;
  .DateStr{
    margin: 40px 0 0 24px;
    font-size: 48px;
    color: $white;
  }
}
.CalendarComponent{
  margin: 0 24px;
  border-radius: 16px;
  height: 640px;
  background-color: $white;
  transform: translateY(-160px);
  .BgCount{
    position: absolute;
    width: calc(100vw - 48px);
    line-height: 640px;
    text-align: center;
    font-size: 400px;
    opacity: 0.1;
    font-family: PingFangSC-Medium;
    color: $primary;
    letter-spacing: -3.53px;
  }

  .at-calendar{
    position: relative;
    overflow: inherit;
    z-index: 1;
    .at-calendar__controller{
      justify-content: flex-start;
      transform: translateY(-100px);
      color: $white;
      opacity: 0;
      
      .controller__info{
        font-size: 48px;
      }
    }
  
    .flex__item--marks{
      &::after{
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $primary;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
      }
    }
    .flex__item--selected{
      &::after{
        background-color: $white;
      }
    }
    .main__body{
      width: 300%;
      height: 12rem;
    }
    swiper-item{
      flex: 1;
      width: calc(100%/3) !important;
    }
  }
}
.ProductList{
  top: -260px;
  position: relative;
  z-index: 3;
 
  .ProductListTitle{
    line-height: 64px;
    height: 64px;
    background-color: $white;
    text-indent: 24px;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .CardWrap{
    max-height: 336px;
    overflow: auto;
  }
}
// 产品 卡片
.ProductCardWrap{
  @include flex(space-between, center);
  padding: 0 24px;
  border-bottom: 1px solid #eee;
  height: 164px;

  .ProductImg{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-color: #eee;
  }
  .ProductInfoWrap{
    margin-left: 14px;
    flex: 1;
  }
  .ProductName{
    @include textHide(2);
    font-size: $font-sm;
    color: $black65;
    max-width: 450px;
    line-height: 32px;
    min-height: 64px;
    max-height: 64px;
  }

  .ProductSkuInfo{
    @include flex(space-between, center);
    margin-top: 8px;
    font-size: $font-xs;
    color: $black65;
  }
  .ProductPrice{
    font-size: $font-sm;
    color: $black;
  }
}
