@import '../../scss/index.scss';
.address-wrap{
  .info-wrap{
    @include flex;
    padding: .512rem 0;
    font-size: $font-sm;
    margin-left: .68267rem;
    border-bottom: 1px solid #EEE;
    color: rgba(7,7,7,0.85);
    .addr-info-title{
      width: 3.66933rem;
    }
  }
  .info-right{
    margin-left: 8px;
    @include flex;
    align-items: center;
    flex: 1;
    color: #D8D8D8;
  }
}