@import '../../scss/index.scss';
.ConfirmOrderWrap{
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 120px;
  overflow: auto;
  position: relative;
  .ConfirmOrderContentWrap{
    padding: 24px;
  }
  .ProductList{
    @include shadow;
    border-radius: 16px;
    margin: 40px 0 20px;
  }
}