@import '../../scss/index.scss';
.ConfirmOrderWrap{
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 120px;
  overflow-y: auto;
  position: relative;
  .ConfirmOrderContentWrap{
    padding: 24px;
  }
  .ProductList{
    @include shadow;
    border-radius: 16px;
    margin: 40px 0 20px;
  }
  .BlessCard{
    @include shadow;
    border-radius: 16px;
    margin: 20px 0 20px;
    padding: 24px;
    .BlessTitle{
      font-size: $font-sm;
      line-height: 32px;
    }
    .at-textarea{
      border-color: $bg-grey;
      margin-top: 20px;
    }
  }
  .DatePickerWRap{
    width: 200px;
    right: 48px;
  }
}