@import '../../../scss/index.scss';

.ItemCardWrap{
  @include flex(space-between, center);
  @include shadow;
  font-family: PingFangSC-Semibold;
  
  height: 96px;
  margin-bottom: 20px;
  border-radius: 18px;
  padding: 0 24px;

  .ItemCardTitle{
    font-size: $font-sm;
    color: $black85;
  }
  .ItemCardRightBox{
    @include flex(space-between, center);
    font-size: $font-xs;
    color: $black45;
  }
}
// 地址卡片
.AddressCardWrap{
  @include shadow;
  position: relative;
  background-color: $white;
  color: rgba(23,7,7,.45);
  font-size: $font-sm;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
  .title{
    font-size: $font-md;
    color: rgba(23,7,7,.85);
  }
  .UserInfo{
    margin-top: 20px;
  }
  .Name{
    font-size: $font-md;
    color: rgba(23,7,7,.85);
    margin-right: 10px;
  }
  .Address{
    margin-top: 10px;
  }
}
// 产品 卡片
.ProductCardWrap{
  @include flex(space-between, center);
  padding: 0 24px;
  border-top: 1px solid #eee;
  height: 164px;

  .ProductImg{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-color: #eee;
  }
  .ProductInfoWrap{
    margin-left: 14px;
    flex: 1;
  }
  .ProductName{
    @include textHide(2);
    font-size: $font-sm;
    color: $black65;
    max-width: 450px;
    line-height: 32px;
    min-height: 64px;
    max-height: 64px;
  }

  .ProductSkuInfo{
    @include flex(space-between, center);
    margin-top: 8px;
    font-size: $font-xs;
    color: $black65;
  }
  .ProductPrice{
    font-size: $font-sm;
    color: $black;
  }
}

// 使用优惠券
.UseCouponWrap{
  @include shadow;
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 16px;

  .UseCouponTitle{
    font-size: $font-sm;
    color: $black85;
  }

  .InputWrap{
    @include flex(space-between, center);
    font-size: $font-xs;
    height: 84px;
    border-bottom: 2px solid #eee;
  }
  .button{
    // width: 240px;
    line-height: 64px;
    padding: 0 24px;
    text-align: center;
    background-color: $primary;
    color: $white;
    font-size: $font-sm;
    border-radius: 32px;
  }
}

// 价格明细
.PriceDetailWrap{
  @include shadow;
  border-radius: 16px;
  margin-top: 20px;

  .PriceDetailLine{
    @include flex(space-between, center);
    line-height: 42px;
    font-size: $font-md;
    color: $black;
    padding: 24px;
  }
  .Currency{
    font-size: $font-xs;
  }
  .CouponLine{
    color: $black65;
    font-size: $font-xs;
  }
}

.ShoppingCardFooter{
  @include shadow;
  @include flex(space-between, center);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 120px;
  box-sizing: border-box;
  padding: 0 32px;
  background-color: $white;

  .button{
    width: 240px;
    line-height: 80px;
    text-align: center;
    background-color: $primary;
    color: $white;
    font-size: $font-md;
    border-radius: 40px;
    &.disabled{
      background-color: rgba(0,183,153,0.50);
    }
  }
  .PriceWrap{
    font-size: $font-md;
    color: $black;
    margin-right: 20px;
    font-weight: 700;
  }
  .Currency{
    font-size: $font-xs;
    font-weight: 400;
  }
}