@import '../../../scss/index.scss';
.task-info{
  background-color: $white;
  padding: 20px 30px;
  margin-top: 20px;
  .task-title{
    font-size: $font-md;
    color: $black85;
    line-height: 48px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 20px;
    // border-bottom: 1px solid $primary-light;
    &::before{
      content: "";
      height: 40px;
      width: 8px;
      background: $primary-dark;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .task-desc{
    font-size: $font-sm;
    color: $black45;
    line-height: 28px;
    margin-top: 20px;
  }
  .progrss-warp,
  .task-during,
  .task-status{
    margin-top: 20px;
    font-size: $font-sm;
    color: $black65;
  }
  .progrss-warp,
  .task-status {
    @include flex;
  }
  .progress-box{
    flex: 1;
  }

  .task-status{
    justify-content: flex-start;
    .task-tag{
      background-color: rgba(64,158,255,.1);
      display: inline-block;
      padding: 0 10px;
      height: 60px;
      line-height: 60px;
      font-size: $font-sm;
      color: #409eff;
      border-radius: 8px;
      box-sizing: border-box;
      border: 1px solid rgba(64,158,255,.2);
      white-space: nowrap;
    }
  }
}
