@import '../../scss/index.scss';
.ProductDetailWrap{
  position: relative;
  height: 100vh;
  padding-bottom: 120px;
  overflow: auto;
  .ProductContentWrap{
    margin-top: -34px;
    position: relative;
    z-index: 1;
    height: 800px;
    border-radius: 32px 0 0 0;
    background-color: $white;
  }
}