@import '../../scss/index.scss';
.ProductDetailWrap{
  // position: relative;
  height: calc(100vh - 132px);
  overflow: auto;
  background-color: #f8f8f8;
  .ProductContentWrap{
    margin-top: -34px;
    position: relative;
    z-index: 1;
    height: 800px;
    border-radius: 32px 0 0 0;
    background-color: $white;
  }
  .at-action-sheet{
    .at-action-sheet__container{
      border-radius: 20px 20px 0 0;
      overflow: hidden;
    }
    
  }

  .TipModal{
    .TipModalTitle{
      font-size: $font-sm;
    }
    .BtnWrap{
      padding: 20px 0;
    }
    .at-button{
      width: 120px;
    }
  }
}