@import '../../scss/index.scss';
.ProductDetailWrap{
  position: relative;
  height: 100vh;
  overflow: auto;
  .ProductContentWrap{
    margin-top: -34px;
    position: relative;
    z-index: 1;
    height: 800px;
    border-radius: 32px 0 0 0;
    background-color: $white;
  }
  .at-action-sheet{
    .at-action-sheet__container{
      border-radius: 20px 20px 0 0;
      overflow: hidden;
    }
    
  }
}