@import '../../scss/index.scss';
.CalendarWrap{
  .StatusWrap{
    @include flex(flex-end, center);
    font-size: $font-xs;
    padding: 0 24px;
    color: $black45;
  }
  .StatusItem{
    @include flex(flex-start, center);
    margin-left: 24px;
    position: relative;
    padding-left: 16px;
    height: 72px;
    &::before{
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $black45;
      transform: translateX(-12px);
    }
    &:nth-of-type(2) {
      color: $primary;
      &::before{
        background-color: $primary;
      }
    }
  }
}