@import '../../scss/index.scss';
.AddAddr{
  .addrInfoWrap{
    @include mgx(36px);
    @include shadow;
    @include bdr;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .at-input__container{
    height: 52px;
  }
  
  .at-input__title{
    font-size: $font-sm;
    color: $black85;
    width: 120px;
  }
  .at-textarea__textarea{
    font-size: $font-sm;
  }
  .at-input input{
    font-size: $font-sm;
  }
  .addrAreaWrap{
    padding:  0 24px;
    @include flex(flex-start, top);
    .addrAreaTitle{
      padding: 20px 0;
      font-size: $font-sm;
      color: $black85;
    }
    .addrArea{
      border: 0;
      padding: 26px 12px;
      text-align: left;
      width: auto;
      flex: 1;
      line-height: 72px;
    }
  }
  
  .setDefault{
    margin-top: 24px;
    @include flex;
    @include mgx(36px);
    @include shadow;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    border-radius: 16px;
    padding: 0 24px;
    box-sizing: border-box;
    .setDefaultText{
      font-size: $font-sm;

    }
    switch{
      transform: scale(.8);
      width: 88px;
    }
  }
  .subBtnWrap{
    position: absolute;
    bottom: 0;
    width: 100vw;
    .subBtn{
      height: 100px;
      line-height: 100px;
      font-size: $font-md;
    }
  }
}