@import '../../../scss/index.scss';
.OrderHeaderWrap{
  width: 100vw;
  height: 320px;
  background-image: linear-gradient(180deg, #00B799 0%, #FFFFFF 81%);
  color: $white;
  padding: 40px;
  box-sizing: border-box;

  .OrderHeaderTitle{
    font-family: SourceHanSansCN-Medium;
    font-size: $font-lg;
  }
  .OrderHeaderSubTitle{
    font-size: $font-sm;
    margin-top: 10px;
  }
}

.ReceiptInfoWrap{
  @include shadow;
  background-color: $white;
  border-radius: 16px;
  margin-bottom: 24px;
  padding-bottom: 12px;
  .Title{
    font-size: $font-sm;
    color: $black65;
    line-height: 76px;
    padding: 0 24px;
    border-bottom: 2px solid #eee;
  }
  .Line{
    @include flex(flex-start, center);
    padding: 0 24px;
    height: 76px;
    font-size: $font-sm;
  }
  .LineTitle{
    font-family: PingFangSC-Regular;
    color: $black85;
  }
  .LineText{
    font-family: PingFangSC-Semibold;
    color: $black;
  }
  .AddrLine{
    display: block;
    height: auto;
    line-height: 60px;
  }
}

.ProductInfoWrap{
  .Line{
    @include flex(space-between, center);
  }
  .ProductCardWrap{
    border-top: 0;
    border-bottom: 2px solid #eee;
  }
  .PriceInfo{
    border-top: 2px solid #eee;
  }
}

.ShoppingCardFooter{
  @include shadow;
  @include flex(space-between, center);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 120px;
  box-sizing: border-box;
  padding: 0 32px;
  background-color: $white;
  .BtnWrap{
    @include flex(space-between, center);
  }
  .button{
    width: 220px;
    line-height: 72px;
    text-align: center;
    background-color: $primary;
    color: $white;
    font-size: $font-md;
    border-radius: 40px;
    &.cancel{
      background-color: #eee;
      color: #8d8d8d;
      margin-right: 20px;
    }
  }
  .PriceWrap{
    font-size: $font-md;
    color: $black;
    margin-right: 20px;
    font-weight: 700;
  }
  .Currency{
    font-size: $font-xs;
    font-weight: 400;
  }
}