@import '../../../scss/index.scss';
.filterBar{
  margin: 36px 36px 0;
  @include flex;
  font-size: $font-sm;
  color: $black85;
  .active{
    color: $primary;
  }
  .filterBarItem{
    @include flex;
  }
  .iconPriceWrap{
    position: relative;
    margin-left: 8px;
    &::after,
    &::before {
      content: '';
      display: block;
      border: 10px solid transparent;
      
    }
    &::before{
      border-bottom-color: $black45;
      transform: translateY(-2px);
    }
    &.up::before{
      border-bottom-color: $primary;
    }
    &::after{
      border-top-color: $black45;
      transform: translateY(2px);
    }
    
    &.down::after{
      border-top-color: $primary;
    }

  }
}