@import './scss/index.scss';
.at-modal__header {
  padding: .6rem .512rem;
  font-size: $font-sm;
}
.at-modal__content{
  font-size: $font-sm;
}
.at-modal__footer .at-modal__action>button{
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: $font-sm;
}