@import '../../../scss/index.scss';
.newProductListWrap{
  padding: 0 24px;

  .newProductListTitle{
    color: $black;
    font-family: PingFangSC-Semibold;
    font-size: $font-lg;
    text-align: center;
    line-height: 48px;

  }
  .newProductList{
    // @include flex;
    margin-top: 32px;
  }
  .task-card-wrap{
    @include flex;
    margin-bottom: 30px;
    background: $white85;
    border-radius: 8px;
    padding: 20px;

    
    .task-title{
      line-height: 44px;
      font-size: $font-md;
    }
    .task-sub-title,
    .taks-desc,
    .task-during-time{
      margin-top: 10px;
      font-size: $font-sm;
      color: $black45;
      @include flex;
    }
    .taks-desc{
      @include textHide(2)
    }
    .task_order_sn{
      margin-top: 10px;
      font-size: $font-sm;
      color: $black65;
    }
    .task-during-time,
    .progrss-warp{
      margin-top: 20px;
    }
    
    .left-box{
      width: calc(100% - 110px);
    }
    .checkin-btn{
      color: $white85;
      text-align: center;
      line-height: 100px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $primary-dark;
      &.disabled{
        background: $bg-grey;
        cursor: no-drop;
      }
    }
  }
}
.WelComeWrap{
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  position: fixed;
  display: flex;
  align-items: flex-end;

  z-index: 100;
  background: $white ;
  transition: all 1.2s;
  &.hide{
    opacity: 0;
    // transform: scale(.4);
    // transform-origin: center center;
  }
  &.clear{
    display: none;
  }
  .welcomeImg{
    width: 100%;
    height: 100%;
  }
}